.navbar {
  height: 14vh;
  display: flex;
  align-items: center;
  justify-content: space-around;

  img {
    width: 160px;
    padding: 20px;
  }

  .links-navbar {
    list-style: none;
    background-color: var(--cor-btn);
    padding: 16px 28px;
    border-radius: 20px;
    cursor: pointer;

    &:hover {
      background-color: var(--cor-btn-hover);
    }

    a {
      color: var(--cor-texto);
      font-size: 16px;
      font-weight: 600;
    }
  }
}