:root {
  --cor-primaria: #2C2624;
  --cor-secundaria: #e0e0e0;
  --cor-preto: #000000;
  --cor-texto-cinza: #56565c;
  --cor-texto: #ffffff;
  --cor-btn: #A37B43;
  --cor-btn-hover: #af7728;
  --cor-btn-secundaria: #ccc7c7;
  --cor-btn-confirma: #44C47D;
}
